/* Structure*/ 
body{
  background-color: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
/* Hamburger */
#hamburger div{
    width: 30px;
    height: 5px;
    background-color: #C078E9;
    margin: 5px 0;
}

.hide-small{
    display: none;
}
/* Navagation Pages */
#nav-pages{
  background-color: white;
  padding: 5px;
  border-radius: 15px;
}

#nav-pages a{
  text-decoration: none;
}

#nav-pages a:hover{
  color: violet;
}

#nav-pages li {
  margin-right: 20px; 
}
/* Main Header */
#main-header{
  background-color: #C078E9;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  border-radius: 10px;
}
.header-content {
  display: flex;
  align-items: center;
}

.header-right {
  display: flex;
  align-items: center;
}

.header-right img {
  margin-left: 10px; 
}

#main-header input[type="text"] {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 400px; 
  align-items: center;

}
/* Typography */
h2{
  text-align: start;
  font-size: medium;
}
h4{
  text-align: center;
  font-size: x-large;
}
p{
  font-size: small;
}
/* Main Sales */
.main-sales{
  background-color: #C078E9;
  border-radius: 10px;
}

.columns{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}

.column {
  flex: 5;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: #9044B4;
}

.images {
  max-width: 100%;
  align-self: center;
}


/* Main Title */
main .main-title{
  border-bottom: 2px solid black; 
  width: 100%;
  text-align: start;
  margin-bottom: 20px;
}

main img#image {
  width: 100%;
  border-radius: 10px;
}

/* View All */
footer {
  padding-top: 30px; 
  align-items: center;
}

#footer {
  text-align: center; 
}

#button-view {
  background-color: #C078E9; 
  color: white; 
  padding: 10px 20px; 
  border: none; 
  border-radius: 10px; 
  font-size: 16px; 
  width: 1000px; 
}

#button-view:hover {
  background-color: #9044B4; 
}
/* Gaming Systems and Computers */
.columns section {
  
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: #9044B4;
  text-align: center;
 
}

.columns2 section {
 
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: #9044B4;
  text-align: center;
  
}

/* Tablets/Phones and Cameras/Audio */
.main-cat, .main-cat1{
  background-color: #C078E9;
  border-radius: 10px;
  flex: 1; 
  margin: 0 5px;
}
#main-cat {
  text-align: center; 
}
#main-container {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between;
  margin-top: 20px;
}
.columns2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#button-tabpho {
  background-color: #9044B4; 
  color: white; 
  padding: 10px; 
  border: none; 
  border-radius: 10px; 
  font-size: medium; 
  width: 200px; 
  height: 35px;
}
#button-tabpho:hover {
  background-color: #C078E9; 
}

/* Sales */
#main-container1 {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between;
  margin-top: 20px;
}

.main-cat3{
  align-items: center;
}
/*Product Pages*/
.images1 {
  max-width: 100%;
  align-items: center;
  border-radius: 10px;
}

#main-container2 {
  display: flex;
  justify-content: space-between;
  margin-top: 215px;
}

/* Input */
.main-cat6 section {
  margin-bottom: 100px; 
}

.main-cat6{
  
  border-radius: 10px;
  flex: 1; 
  margin: 0 5px;
  margin-top: 20px;
}

/* Preview */
#preview-back{
  display: none; 
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: hsla(278, 100%, 39%, 0.356);
}
.content {
  background-color: white;
  margin: auto;
  width: fit-content;
  border-radius: 10px;
}

.content img {
  max-width: fit-content;
  display: block;
  border-radius: 10px;
  padding: 30px;
  margin: auto;
}

.content p{
  max-width:fit-content;
  font-size: large;
}
.close {
  color: black;
  float: right;
  font-size:30px;
  padding: 0px 5px;
  cursor: pointer;
}
/*Larger Resolutions*/
@media(min-width: 900px) 
{
  .main-container{
    display: flex; 
    justify-content: space-between;
  }

  .column1{
    flex:1;
    margin: 10px;
    padding:15px;
    border: 1px solid white;
    text-align: center;
    flex-direction: column;
 }

 #hamburger{
    display: none;
 }

 .hide-small{
    display: block;
 }

 #main-nav ul,.flex-container{
    display: inline-flex; 
}

#main-nav li{
    display: inline-flex;
}

 
}
