/*Structure*/
body{
   background-color:#F2E9E9;
}
h1, h2{
    text-align: center;
}
.column1 img, .column2 img, .column3 img, .column4 img, .column5 img{
max-width: 50%;

}
.column1 p, .column2 p, .column3 p, .column4 p, .column5 p{
text-align: center;

}
.padded-area{
padding: 10px;
background-color: #ead4d6;
margin: 5px;
padding-bottom: 10px;
}
.column1 li, .column2 li, .column3 li, .column4 li, .column5 li{
    list-style-type: none;
}
img {
    width: 100%;
    align-self: center;
}

/*Typography*/
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1,h2,h3{
   color:#BF8E97;
}
p{
    color:#b57b80;
    text-align: center;
}
.column1 a, .column2 a, .column3 a, .column4 a, .column5 a{
    color:#b57b80;
    text-decoration:none;
    
}
.foot{
    text-align: center;
}
/*Larger Resolutions*/
@media(min-width: 900px) 
{
    .flex-container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap; 
      }
      
  .column1, .column2, .column3, .column4, .column5{
    flex: 1;
    margin: 10px;
    flex-wrap: wrap;
  }
  .column1, .column2, .column3, .column4, .column5{
        flex:1;
        margin: 10px;
        padding:15px;
        border: 1px solid #ccc;
        text-align: center;
  }

}