/* Structure*/ 
body {
    background-color: rgb(127, 225, 255);
}

/* Table */
table {
    border-collapse: collapse;
}
td, th {
    border: 5px dotted green;
    background-color: yellow;
}

th {
    background-color: magenta;
}

/* Typography */ 
body{
    font-family: Arial, Helvetica, sans-serif;
}


hl {
    color:rgb(234, 0, 255);
    background-color: yellow; 
    font-style: oblique;

}

p {
    color: aquamarine;
}